version: '3.8'
services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    ports:
      - "8080:8080"
    volumes:
      - ./frontend:/app
      - /app/node_modules

    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build:
      context: ./
      dockerfile: Dockerfile.backend
    ports:
      - "8081:8081"
    volumes:
      - ./backend.py:/app/backend.py  # Mount the backend.py file into the container
      # Mount ML model files and data, assuming they are needed by the backend
      - ./popular.pkl:/app/popular.pkl
      - ./pt.pkl:/app/pt.pkl
      - ./books.pkl:/app/books.pkl
      - ./similarity_scores.pkl:/app/similarity_scores.pkl
      - ./dataset:/app/dataset
      - ./book-recommender-system.ipynb:/app/book-recommender-system.ipynb
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
